.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items:baseline;
    
}

.item {
    padding: 1em;
}

.pag {
    display: flex;
    justify-content: right;
    
}

.butt {
    margin-left: 7px;
    background-color: transparent;
    font-size: 15px;
}


.dixi_font {
    color: transparent;
    cursor: pointer;
    -webkit-text-stroke: 2px rgb(57, 91, 201);
    font-size: 220px;
    position: relative;
    top: -80px;
    width: 100%;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30%;
}

.login {
    position: absolute;
    display: inline-flex;
    margin-left: 31%;
    margin-top: 1%;
}

.user-name {
    position:absolute;
    margin-left: 27%;
    margin-top: 1.5%;
}